*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
.w80{
    width: 80%;
    margin: auto;
}
header{
    width: 80%;
    height: 3.8rem;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-items: center;
     position: sticky;
    top: 0;
    }
    .navbar{
        display:flex ;
        align-items: center;
    }
    .navbar a{
        margin: 0 25px;
        color: black;
        text-decoration: none;
    }
    .navbar h{
        margin: 0 10px;
    }
    .button{
        margin: 0 80px;
        color: #96BB7C;
        text-decoration: none;
        border: none;
        background-color: white;
        border: none;
    }
    .join{
        margin: 0 35px;
        width:137px;
        height: 52px;
        color: rgb(255, 255, 255);
        background-color: #96BB7C;
        border: none;
    }
    .joinus{
        width: 59px;
        height: 24px;
        color: #96BB7C;
        background-color: white;
        border: none;
    }
    html{
        font-size: 16px;
    }
    a{
        text-decoration: none;
    } 
    li{
        list-style: none;
    }
    h1{
        font-size: 2.5rem;
    }
    h2{
        font-size: 1.8rem;
    }
    h3{
        font-size: 1.2rem;
    }
    .container{
        width: 80%;
        margin: auto;
    }
    .row{
        display: flex;
        justify-content: space-between;
        align-items: center;
        column-gap: 20px;
    
        nav{
       width: 100%;
    }
#hero-section-wrapper{
    position: relative;
    height: 100vh;
}
.images-box{
    position: relative;
}
.img-1{
    width: 400px;

}
.img-2{
    width: 400px;
    position: absolute;
    left:-13%;
    top: 23%;
    z-index: -1;
}
.img-3{
    position: absolute;
    left: 1%;
    top: 14%;
    width: 400px;
    z-index: -1;
}
.img-4{
    position: absolute;
    left: -1%;
    top: 21%;
    width: 50px;
}
.hero-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
#counts section{
    position: absolute;
    bottom: -10%;
}
.count-card{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    background-color: white;
    box-shadow: rgba(93, 35, 35, 0.731) 0px 2px 8px 0px;
    padding: 20px;
}
.icon-box{
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
}
.divider{
    height: 2px;
     width: 70px;
    }
    .name a{
        color: black;
    }
    .BUTTON{
        width: 193px;
        height: 52px;
        color: white;
        background-color: #96BB7C;
        border-radius: 10px;
        border: none;
    }
    .bbutton{
        gap: 20px;
        width: 152px;
        height: 52px;
        border-radius: 10px;
        color: #96BB7C;
        border: none;
    }